.header-menu{
    .head-bar{
        background: $p_color!important;
        width:100%;
        .head-content{
            width:1240px; 
            margin:auto;
            .header-img{
                img{
                    width:38%;
                }
            }
            .menu-list{
                // position:relative;
                ul{
                    li{
                        // position: relative;
                        a{
                            color:white;
                            text-transform: uppercase;
                            font-family: 'Lato', sans-serif;
                            font-weight: 800;
                            font-size: 14px;
                            margin:0px 10px;
                            display:table;

                        }
                        &:hover{
                            .menu-underline{
                                width:43px;
                                height:3px;
                                background: #fff;
                                margin:-6px 18px;
                                // transform: translate(18px,-6px);
                            }
                            .menu-line{
                                width:38px;
                                height:3px;
                                background: #fff;
                                // transform: translate(18px,-6px);
                                margin:-6px 18px;
                            }
                            .menu-lineline{
                                width:65px;
                                height:3px;
                                background: #fff;
                                // transform: translate(18px,-6px);
                                margin:-6px 18px;
                            }
                            .menu-blog{
                                width:37px;
                                height:3px;
                                background: #fff;
                                // transform: translate(18px,-6px);
                                margin:-6px 18px;
                            }
                        
                        }        
                        
                    }
                }
                
            }
        }
        
    }

}
